.new-body { width:100%; height:100vh; background-color:#f9f9f9; position:fixed; left:0; top:0; z-index:2000; }

.fancy-reader { width:880px; background-color:#fff; padding:50px; margin:0 auto; color:#333; }
